.bangumi-pagination
  a.bangumi-button.bangumi-firstpage(href="javascript:;" target="_self" onclick="return false")= __('top')
  a.bangumi-button.bangumi-previouspage(href="javascript:;" target="_self" onclick="return false")= __('prev')
  span.bangumi-pagenum 2 / 3
  a.bangumi-button.bangumi-nextpage(href="javascript:;" target="_self" onclick="return false")= __('next')
  a.bangumi-button.bangumi-lastpage(href="javascript:;" target="_self" onclick="return false")= __('end')
