<div class="bangumi-pagination">
    <a class="bangumi-button bangumi-firstpage" href="javascript:;" target="_self" onclick="return false"> <%= __('top') %></a>
    <a class="bangumi-button bangumi-previouspage" href="javascript:;" target="_self" onclick="return false"><%= __('prev') %></a>
    <span class="bangumi-pagenum">2 / 3</span>
    <a class="bangumi-button bangumi-nextpage" href="javascript:;" target="_self" onclick="return false"><%= __('next') %></a>
    <a class="bangumi-button bangumi-lastpage" href="javascript:;" target="_self" onclick="return false"><%= __('end') %></a>
</div>